@import 'tailwindcss';

@theme {
  --font-pretendard: 'Pretendard';
}

@keyframes drawLine {
  0% {
    height: 0;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    height: 180px;
    opacity: 1;
  }
}

@keyframes drawLineHorizontal {
  0% {
    width: 0;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 200px;
    opacity: 1;
  }
}

@keyframes drawLineDiagonal {
  0% {
    height: 0;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    height: 400px;
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8) translateY(10px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes drawLineSmall {
  0% {
    height: 0;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    height: var(--line-Height);
    opacity: 1;
  }
}
